@model PaginatedList<ProyectoFinal.Models.Gasto>
@using Microsoft.AspNetCore.Identity

@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = "Busqueda";
}

<div class="d-flex" id="content-wrapper">
    <!-- Page Content -->
    <div id="content" class="bg-grey w-100">
        <section class="bg-light py-3 mt-4">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-8">
                        <h1 class="font-weight-bold mb-0">Detalle y busqueda</h1>
                        <p class="lead text-muted">Utiliza los filtros</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="bg-mix py-3">
            <div class="container">
                <div class="card rounded-0">
                    <div class="card-body">
                        <form asp-action="Details" method="get">
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <label class="class=" control-label">Desde</label>
                                    @if (ViewBag.Model != null)
                                    {
                                        <input class=" form-control " type="date" name="Desde" required value="@ViewBag.Model.Desde.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)" />
                                    }
                                    else
                                    {
                                        <input class=" form-control " type="date" name="Desde" required />
                                    }
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="class=" control-label">Hasta</label>
                                    @if (ViewBag.Model != null)
                                    {
                                        <input class=" form-control " type="date" name="Hasta" required value="@ViewBag.Model.Hasta.ToString("yyyy-MM-dd", System.Globalization.CultureInfo.InvariantCulture)" />
                                    }
                                    else
                                    {
                                        <input class=" form-control " type="date" name="Hasta" required />
                                    }
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="class=" control-label">Tipo Consumo</label>
                                    @{
                                        IEnumerable<Consumo> consnumos = ViewBag.IdConsumo;
                                        IEnumerable<Pago> pagos = ViewBag.IdPago;
                                    }
                                    @if (ViewBag.Model != null)
                                    {
                                        var idc = ViewBag.Model.IdConsumo;
                                        <select name="IdConsumo" class="form-control" asp-items="@(new SelectList(ViewBag.IdConsumo, "IdConsumo", "Descripcion", consnumos.FirstOrDefault(r => r.IdConsumo == idc).IdConsumo))"></select>
                                    }
                                    else
                                    {
                                        <select name="IdConsumo" class="form-control" asp-items="@(new SelectList(ViewBag.IdConsumo,"IdConsumo","Descripcion"))"></select>
                                    }
                                </div>
                                <div class="form-group col-md-3">
                                    <label class="class=" control-label">Forma de Pago</label>
                                    @if (ViewBag.Model != null)
                                    {
                                        var idp = ViewBag.Model.IdPago;
                                        <select name="IdPago" class="form-control" asp-items="@(new SelectList(ViewBag.IdPago, "IdPago", "Descripcion", pagos.FirstOrDefault(r => r.IdPago == idp).IdPago))"></select>
                                    }
                                    else
                                    {
                                        <select name="IdPago" class="form-control" asp-items="@(new SelectList(ViewBag.IdPago,"IdPago","Descripcion"))"></select>
                                    }
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group col-md-3">
                                    <input class="btn btn-primary " type="submit" value="Buscar" />
                                </div>
                            </div>
                        </form>
                    </div>
                    <table class="table col-md-12">
                        <thead>
                            <tr>
                                <th scope="col">
                                    Código
                                </th>
                                <th>
                                    @if (ViewBag.Model != null)
                                    {
                                        <a asp-action="Details" asp-route-sortOrder="@ViewData["DateSort"]"
                                           asp-route-filter="@ViewData["CurrentFilter"]" asp-route-desde="@ViewBag.Model.Desde"
                                           asp-route-hasta="@ViewBag.Model.Hasta"
                                           asp-route-idConsumo="@ViewBag.Model.IdConsumo"
                                           asp-route-idPago="@ViewBag.Model.IdPago">
                                            Fecha
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Details" asp-route-sortOrder="@ViewData["DateSort"]" asp-route-filter="@ViewData["CurrentFilter"]">Fecha</a>
                                    }
                                </th>
                                <th>
                                    Usuario
                                </th>
                                <th>
                                    @if (ViewBag.Model != null)
                                    {
                                        <a asp-action="Details" asp-route-sortOrder="@ViewData["MontoSort"]"
                                           asp-route-filter="@ViewData["CurrentFilter"]"
                                           asp-route-desde="@ViewBag.Model.Desde"
                                           asp-route-hasta="@ViewBag.Model.Hasta"
                                           asp-route-idConsumo="@ViewBag.Model.IdConsumo"
                                           asp-route-idPago="@ViewBag.Model.IdPago">
                                            Monto
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-action="Details" asp-route-sortOrder="@ViewData["MontoSort"]" asp-route-filter="@ViewData["CurrentFilter"]">Monto</a>
                                    }
                                </th>
                                <th>
                                    Tipo Consumo
                                </th>
                                <th>
                                    Tipo Pago
                                </th>
                                <th>Observación</th>
                                <th>Acción</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    @{
                                        string id = item.IdUsuario;
                                        IEnumerable<Consumo> consnumoss = ViewBag.IdConsumo;
                                        IEnumerable<Pago> pagoss = ViewBag.IdPago;
                                    }
                                    <td>@item.IdGasto</td>
                                    <td>@item.Fecha.ToString("dd/MM/yyyy")</td>
                                    <td>@UserManager.Users.FirstOrDefault(r => r.Id == id).UserName</td>
                                    <td>$@item.Monto</td>
                                    <td>@consnumoss.FirstOrDefault(r => r.IdConsumo == item.IdConsumo).Descripcion</td>
                                    <td>@pagoss.FirstOrDefault(r => r.IdPago == item.IdPago).Descripcion</td>
                                    <td>@item.Observacion</td>
                                    <td>
                                        <a asp-action="Create" asp-route-id="@item.IdGasto" class="btn btn-warning">Editar</a>
                                        <a asp-action="Delete" asp-route-id="@item.IdGasto" class="btn btn-danger">Eliminar</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="text-center">
                        @if (ViewBag.Model != null)
                        {
                            <a asp-action="Details"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-filter="@ViewData["CurrentFilter"]"
                               asp-route-desde="@ViewBag.Model.Desde"
                               asp-route-hasta="@ViewBag.Model.Hasta"
                               asp-route-idConsumo="@ViewBag.Model.IdConsumo"
                               asp-route-idPago="@ViewBag.Model.IdPago"
                                class="btn btn-primary @prevDisabled">
                                Atrás
                            </a>
                            <a asp-action="Details"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-filter="@ViewData["CurrentFilter"]"
                               asp-route-desde="@ViewBag.Model.Desde"
                               asp-route-hasta="@ViewBag.Model.Hasta"
                               asp-route-idConsumo="@ViewBag.Model.IdConsumo"
                               asp-route-idPago="@ViewBag.Model.IdPago"
                               class="btn btn-primary @nextDisabled">
                                Adelante
                            </a>
                        }
                        else
                        {
                            <a asp-action="Details"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex - 1)"
                               asp-route-filter="@ViewData["CurrentFilter"]"
                               class="btn btn-primary @prevDisabled">
                                Atrás
                            </a>
                            <a asp-action="Details"
                               asp-route-sortOrder="@ViewData["CurrentSort"]"
                               asp-route-pageNumber="@(Model.PageIndex + 1)"
                               asp-route-filter="@ViewData["CurrentFilter"]"
                               class="btn btn-primary @nextDisabled">
                                Adelante
                            </a>
                        }
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
